<html>
<head>
    <title>Identification result</title>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #FFFFFF;
        }
        .back {
            background-image: url("{{ url_for('static', filename = 'bgimage.jpg')  }}");
        }
    </style>
</head>
<body class="back">
<div class="center">
<h2>The file '{{ file_path }}' {{ result }} Birds sound</h2>

<form action="/">
   <button>Make new identification</button>
  </form>
</div>
</body>
</html>
