<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bird sound identification system</title>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #FFFFFF;
            margin-inside: 5px;
        }

        .back {
            background-image: url("{{ url_for('static', filename = 'image3.jpg')  }}");
        }
    </style>
</head>
<body class="back">
<div class="center">
    <form action="/fileIdentification">
        <button>Check bird sound in file</button>
    </form>
    <form action="/migrationMap">
        <button>Look on migrations</button>
    </form>
</div>
</body>
</html>