<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong file</title>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #FFFFFF;
        }

        .back {
            background-image: url("{{ url_for('static', filename = 'image3.jpg')  }}");
        }
    </style>
</head>
<body class="back">
<div class="center">
    <h2>Uploaded file is not audio in .wav format</h2>

    <form action="/fileIdentification">
        <button>Make new identification</button>
    </form>
        <form action="/">
        <button>Return to menu</button>
    </form>
</div>
</body>
</html>