<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong zip file</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 97vh;
            flex-direction: column;
        }

        .center > * {
            margin-bottom: 40px;
        }

        .back {
            background-image: url("{{ url_for('static', filename = 'image3.jpg')  }}");
        }

        .button {
            font-size: 20px;
            padding: 10px 20px;
        }
    </style>
</head>
<body class="back">
<div class="center">
    <h1 style="color: #FFFFFF">Processing was interupted because {{ error }}</h1>
    <form action="/locationIdentification">
        <button class="button">Insert new zip file with audio and annotation</button>
    </form>
    <form action="/">
        <button class="button">Return to menu</button>
    </form>
</div>
</body>
</html>