<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong file</title>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="center">
<h2>Uploaded file is not audio in .wav format</h2>

<form action="/">
   <button>Make new identification</button>
  </form>
</div>
</body>
</html>