<html>
<head>
    <title>Directory identification result</title>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #FFFFFF;
        }

        .back {
            background-image: url("{{ url_for('static', filename = 'image3.jpg')  }}");
        }
    </style>
</head>
<body class="back">
<div class="center">
    <h2>The bird sound was detected {{ result }} times in '{{ file_path }}' directory</h2>
    {% if skipped_files|length > 0 %}
        <h2>Some files were skipped because of wrong format:</h2>
        <ul>
            {% for file in skipped_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/" method="get">
        <button>Make new identification</button>
    </form>
</div>
</body>
</html>
